@charset "utf-8";

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, address, em, img, ins, kbd, q, s, samp,
small, strong, dl, dt, dd, fieldset, form, label, legend, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html, body {
	height: 100%;
}
li {
	list-style-type: none;
}
table {
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
}
a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	display: block
}

input {
	display: inline; 
	margin: 0; 
	padding: 0; 
	vertical-align: middle
}

strong {
	font-weight: bold
}

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

blockquote:before, 
blockquote:after {
	clear: both;
}
:focus {
	outline: 0
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	min-height: 1px;
}
* html .clear {
	height: 1px;
}

body {
	background:url("../images/bodyBg.jpg") repeat-x scroll 0 0 #E4E9B7;
	color:#454441;
	font-family:"Times New Roman";
	font-size:14px;
}
#mainWrapper {
	height:100%;
	margin:0 auto;
	position:relative;
	width:950px;
}
#main {
	float:right;
	height:100%;
	min-height:600px;
	position:absolute;
	width:950px;
}
#main #mainContent{
	background:url("../images/mainContentBg.jpg") no-repeat scroll 222px 0 transparent;
	height:323px;
	margin:119px 0 0;
	position:relative;
	width:950px;
}
#main #middleContent{
	background:url("../images/middleContentBg.jpg") no-repeat scroll 222px top transparent;
	height:418px;
	position:relative;
	width:950px;
}
#header {
	background:url("../images/header.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:119px;
	position:absolute;
	top:0;
	width:950px;
}
#logo {
	background:url("../images/logo.jpg") no-repeat scroll 0 0 transparent;
	float:left;
	height:119px;
	margin-left:24px;
	width:190px;
}
#mainMenu {
	background:url("../images/mainMenuBg.jpg") no-repeat scroll left bottom transparent;
	float:right;
	height:36px;
	margin:82px 0 0;
	width:562px;
}
#mainMenu li{
	float:left;
	margin:0 20px;
}
#mainMenu li.first{
	margin:0;
}
#mainMenu li.last{
	margin:0;
}
#mainMenu li a{
	background:none repeat scroll 0 0 transparent;
	display:block;
	font-family:"Times New Roman";
	height:28px;
	text-decoration:none;
}
#mainMenu li a:hover,
#mainMenu li.active a{
	background:url("../images/bgMenuItemHover.jpg") no-repeat scroll left 0 transparent;
}
#mainMenu li a span{
	background:none no-repeat scroll 0 0 transparent;
	color:#5B5B5B;
	cursor:pointer;
	display:block;
	font-size:18px;
	height:26px;
	padding:2px 10px 0;
}
#mainMenu li:hover a span,
#mainMenu li.active a span{
	background:url("../images/bgMenuItemHoverRight.jpg") no-repeat scroll right 0 transparent;
	color: #ffffff;
}
#mainMenu li a:hover{
	text-decoration: none;
}
.leftSidebar {
	float:left;
	height:323px;
	width:228px;
}
#middleContent .leftSidebar {
	padding:89px 0 0 25px;
	width:395px;
}
.rightSidebar {
	background:url("../images/rightSidebarBg.jpg") repeat scroll 0 0 transparent;
	float:right;
	height:323px;
	width:214px;
}
#middleContent .rightSidebar {
	background:none no-repeat scroll 0 0 transparent;
	padding:89px 0 0;
	width:370px;
}
.consultBar{
	float:right;
	margin:47px 0 0;
	padding:16px 0 0;
	width:214px;
}
.losungBar {
	background:url("../images/losungBg.jpg") no-repeat scroll 12px 4px transparent;
	margin:47px 0 0;
	padding:16px 0 0;
}
.titleBlock{
	color:#968C69;
	padding:0 0 0 22px;
}
.consultBar .titleBlock{
	padding:0;
	text-align: right;
}
.losungBlock a{
	color:#564E44;
	font-size:24px;
	line-height:0.9;
	padding:0 0 0 22px;
}
.consultBar .losungBlock a{
	text-align:right;
	padding:0;
}
.consultBar .losungBlock {
	text-align:right;
}
.descBlock{
	color:#B3B590;
	font-style:italic;
	line-height:1;
	padding:16px 0 0 22px;
}
.consultBar .descBlock{
	padding:16px 0 0;
	text-align:right;
}
.consultBar .descBlock span{
	color:#93974e;
	font-style:italic;
	text-decoration: underline;
}
.phoneBar {
	margin:73px 0 0;
	padding:0;
}
.codeBlock{
	color:#F19300;
	font-weight:bold;
	padding:0 0 0 8px;
}
.phoneBlock{
	color:#564E44;
	font-size:45px;
	line-height:0.9;
	padding:0 0 0 18px;
}
.infoBar1 {

}
.infoBar2{
	margin:0 0 0 28px;
}
.infoBar3 {
}
.infoBar4 {
	margin:0 0 0 30px;
}
.infoBar1,
.infoBar2,
.infoBar3,
.infoBar4 {
	float:left;
	width:169px;
}
.infoBar1 .titleBlock a,
.infoBar2 .titleBlock a,
.infoBar3 .titleBlock a,
.infoBar4 .titleBlock  a{
	color:#F19300;
	line-height:1;
}
.infoBar1 .titleBlock,
.infoBar2 .titleBlock,
.infoBar3 .titleBlock,
.infoBar4 .titleBlock{
padding:0;
}
.infoBar1 .descBlock,
.infoBar2 .descBlock,
.infoBar3 .descBlock,
.infoBar4 .descBlock {
	color:#BAB262;
	padding:7px 0 0;
}
#footer {
	background:none repeat scroll 0 0 transparent;
	float:right;
	width:950px;
}
.button {
	background:url("../images/buttonBg.jpg") no-repeat scroll 0 0 transparent;
	bottom:0;
	height:99px;
	left:280px;
	position:absolute;
	width:400px;
}
.button a{
	color:#FFFFFF;
	font-size:40px;
}
.button p {
	line-height:0.9;
	padding:9px 0 0;
	text-align:center;
}
#mainBottom {
	background:url("../images/mainBottomBg.jpg") no-repeat scroll -2px 0 transparent;
	height:268px;
	position:relative;
	width:950px;
}
.awards {
	width:950px;
}
#middleContent .leftSidebar h3{
	bottom:34px;
	color:#968C69;
	font-size:14px;
	font-weight:normal;
	height:30px;
	position:absolute;
}
.awards .left{
	float:left;
	padding:5px 0 0 161px;
	width:240px;
}
.awards .left .title,
.awards .right .title{

}
.awards .left .title a,
.awards .right .title a{
	color:#564E44;
	font-size:18px;
}
.awards .left .desc,
.awards .right .desc{
	font-size:14px;
	font-style:italic;
	padding:15px 0 0;
}
.awards .left .desc span,
.awards .right .desc span {
	color:#93974E;
	text-decoration:underline;
}
.awards .right{
	float:right;
	width:244px;
}
p.copyright {
	bottom:20px;
	color:#BAB262;
	font-size:12px;
	left:23px;
	position:absolute;
	width:200px;
}
p.make {
	bottom:20px;
	position:absolute;
	right:4px;
	text-align:right;
	width:150px;
}
.services {
	float:left;
	padding:8px 0 0 93px;
	width:172px;
}
.about {
	float:left;
	padding:8px 0 0 34px;
	width:172px;
}
.important {
		float:left;
		padding:8px 0 0 57px;
		width:206px;
}
.contacts {
	float:left;
	padding:8px 0 0 38px;
	width:172px;
}
.services h3,
.about h3,
.important h3,
.contacts h3{
	color:#907553;
	font-weight:normal;
}
.services ul,
.about ul,
.important ul,
.contacts ul{
	padding:22px 0 0 3px;
}
.services li,
.about li,
.important li,
.contacts li{
	color:#937D61;
	font-family:Arial;
	font-size:12px;
	padding:0 0 10px;
}
.services li a,
.about li a,
.important li a,
.contacts li a{
	color:#937D61;
	text-decoration:none;
}
